* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.box1 {
  display: flex;
  position: absolute;
  width: 375px;
  height: 48px;
  left: 0;
  top: 0;
  background: #3c3a39;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 375px;
  height: 590px;
  left: 0;
  top: 48px;
  background: #1c1a19;
}

.logo {
  width: 70px;
  height: 24px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  margin-top: 15px;
  color: #fff;
}

.enabled {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

.info {
  width: 327px;
  height: 124px;
  font-family: "crete pound", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 64px;
  margin-top: 100px;
  margin-left: 20px;

  /* or 114% */

  letter-spacing: 0.37px;

  /* Theme 3 / Primary 1 */

  color: #ff6b00;
}

.intro {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  /* or 133% */
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;

  /* Theme 3 / Primary 4 */

  color: #fff5e1;
}

.information {
  width: 327px;
  height: 123px;

  /* Theme 1 / Body Reguler 2 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  margin-left: 20px;

  /* or 150% */

  /* Theme 3 / Neutral 11 */

  color: #fff;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  list-style: none;
  gap: 15px;
  margin-left: 20px;
  width: 200px;
  height: 40px;
  color: #fff;
  font-size: larger;
}

.group {
  position: absolute;
  left: 64.75%;
  right: -30.09%;
  top: 50.3%;
  bottom: -11.63%;
}
